@import 'bulma.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700|EB+Garamond:400,700|Enriqueta');
body {
    /* font-family: 'Open Sans', Arial, Helvetica, sans-serif; */
    font-family: 'Enriqueta', serif;
    font-size: 17px;
    font-weight: 400;
}
h1.title {
    font-family: 'EB Garamond', serif;
    font-size: 100px;
    font-weight: 400;
    color: rgb(6, 14, 22);
}
.subtitle {
    font-family: 'Enriqueta', serif;
}
.main {
    /* border: 1px solid red; */
    width: 70%;
    padding:10px;
    margin-top: 100px;
}
p {
    line-height: 1.6;
    margin:10px 0;
}
.color-green {color:rgb(62, 78, 97)}
.menu-links {
    font-family: 'EB Garamond', serif;
}
.menu-links a {
    color:rgb(6, 14, 22);
}
.menu-links a:hover {
    color:rgb(0,0,0);
    border-bottom: 1px solid #ccc;
}
